cudaq version: CUDA-Q Version cu12-0.9.0 (https://github.com/NVIDIA/cuda-quantum 77a1c80a18896b4c7ff4ece99f06e6a62c8a28ef)
PennyLane version: 0.40.0
numpy version: 1.26.4
matplotlib version: 3.9.2
scipy version: 1.12.0